.NameBar {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.Name {
  padding-left: 10px;
  padding-right: 10px;
  span {
    cursor: pointer;
  }
}